.cl-white{
    color: white !important;
}

/* Rojo #ED3237 */
/* Negro #373435 */

.bg-dark-purple{
    background-color: #CC1014;
}

.bg-purple{
    background-color: #ED3237;
}

.bg-gray{
    background-color: #606062;
}

.bg-check{
    background-color: #D2D3D5;
}

.bg-red{
    background-color: #ED3237;
}

.btn-tab.active{
    color: white;
    background-color: #373435;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem 1rem;
    display: block;
}

.btn-tab{
    color: white;
    background-color: #ED3237;    
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem 1rem;
    display: block;
}

.btn-tab.active:hover{
    text-decoration: none;
}

.btn-tab:hover{
    text-decoration: none;
    color: white;
}

.form-control:focus {
    border-color: #FD595E !important;
    box-shadow: inset 0 1px 1px rgba(126, 119, 193, 0.075), 0 0 8px rgba(126, 119, 193, 0.6) !important;
}

.requerido:after {
    content: '*';
    color: red;
    padding-left: 5px;
}

.dropdown-item-dark:hover{
    background-color: #0098DA;
    color: #ffffff;
}

.img-header-profile{
    max-height:120px;
    max-width:120px;
}

.photo-container{
    max-height:60px;
    max-width:60px;
    background-color: #ffffff;
    border-radius: 100%;
    padding: 35px;
}

.photo-container-history{
  max-height: 100px;
  max-width: 100px;
  background-color: #ffffff;
  border-radius: 100%;
  padding: 50px;
}

.photo-profile{
    max-height:180px;
    max-width:180px;
}

.photo-profile-container{
    max-height:180px;
    max-width:180px;
    background-color: #000000;
    /*border-radius: 100%;*/
    padding: 95px;
    margin-bottom: 10px;
}

#isItLoaded {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: url("http://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}

/*.custom-file-label::after {
    border-radius: 4px 4px 4px 4px;
}*/

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

table.tabla_compromisos .size, table.tabla_objetivos .size, table.tabla_objetivos_corresponsables .size, table.tabla_logros .size {
  width: 140px !important;
}
table.tabla_compromisos .size2, table.tabla_objetivos .size2, table.tabla_objetivos_corresponsables .size2, table.tabla_logros .size2 {
  width: 280px !important;
}
table.tabla_compromisos .size3, table.tabla_objetivos .size3, table.tabla_objetivos_corresponsables .size3, table.tabla_logros .size3 {
  width: 70px !important;
}
table.tabla_compromisos .middle_size, table.tabla_objetivos .middle_size, table.tabla_objetivos_corresponsables .middle_size, table.tabla_logros .middle_size {
  width: 50% !important;
  float: left;
}
div.autocomplete-suggestions {
  background-color: white;
  padding: 5px 10px;
  max-height: 10000px !important;
}
div.autocomplete-suggestions div.autocomplete-suggestion {
  background-color: white;
  color: black;
}
div.autocomplete-suggestions div.autocomplete-suggestion:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Convenios */

.convenio-container{
  min-height:12em;
  max-width:100%;
  background-color: #ffffff;
}

.convenio-modal-container {
  min-height:26em;
  max-width:80%;
  background-color: #ffffff;
}

.fit-image {
  object-fit: cover;
}

.slider-div{
	margin: 0 5px
}

.slider-text-bg{
  background-color: #244395;
  color: white;
	-webkit-transition: background .4s; /* For Safari 3.0 to 6.0 */
    transition: background .4s; /* For modern browsers */
}

.slider-text-bg_active{
	background-color: #0098DA;
	color: white;
}

.slick-active:hover .slider-text-bg {
	background-color: #0098DA;
	color: white;
}

.slider-h{
	margin-top: 0;
	padding: 1rem 0 1rem 1.5rem;
}

.convenio-card{
	border: 3px solid rgb(221, 221, 221);
}

.convenio-card:hover{
	opacity: .8;
	border-color: rgb(150, 150, 150);
	cursor: pointer;
}

.hr-convenios{
	border: 2px solid rgb(204, 204, 204);
}

.convenios-favorite{
	color: #0098DA;
}

.convenios-like{
	color: #244395;
}

.convenios-btn{
	cursor: pointer;
	font-size: 16px;
	font-weight: bolder;
}

.convenios-btn:hover{
	text-decoration: underline;
}

.slick-slide {
    outline: none !important;
}

.convenios-btn-info{
	border-radius: 2rem !important;
	outline: none !important;
}

.convenio-nuevos-btn{
	background-color: #6c757d;
	color: white;
	border-radius: 2rem !important;
	outline: none !important;
}

.convenio-nuevos-btn:hover,.convenio-nuevos-btn:focus{
	background-color: rgb(95, 103, 109);
	color: white;
}

.convenio-nuevos-btn.clicked{
	background-color: rgb(177, 177, 177);
	color: black;
}

.convenio-favoritos-btn{
	background-color: #0098DA;
	color: white;
	border-radius: 2rem !important;
	outline: none !important;
}

.convenio-favoritos-btn:hover,.convenio-favoritos-btn:focus{
	background-color: #056c97;
	color: white;
}

.convenio-favoritos-btn.clicked{
	background-color: rgb(177, 177, 177);
	color: black;
}

.convenio-likes-btn{
	background-color: #244395;
	color: white;
	border-radius: 2rem !important;
	outline: none !important;
}

.convenio-likes-btn:hover,.convenio-likes-btn:focus{
	background-color: #132e77;
	color: white;
}

.convenio-likes-btn.clicked{
	background-color: rgb(177, 177, 177);
	color: black;
}

.convenios-modal-title{
	color: rgb(136, 61, 110);
	font-weight: bolder;
}

.big-fa{
	font-size: 4rem;
	margin: 0 .5rem;
}

.convenios-reporte-big-number{
	font-size: 8rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.convenios-reporte-color-convenios{
	color: rgb(62, 149, 147);
}

.convenios-reporte-color-views{
	color: rgb(55, 150, 246);
}

.convenios-reporte-color-likes{
	color: rgb(149, 49, 142);
}

.convenios-reporte-color-favorites{
	color: rgb(125, 175, 219);
}

.convenios-reporte-table-views{
	background-color: rgb(55, 150, 246);
	color: white;
}

.convenios-reporte-table-likes{
	background-color: rgb(149, 49, 142);
	color: white;
}

.convenios-reporte-table-favorites{
	background-color: rgb(125, 175, 219);
}

.convenios-views-table tr:nth-child(even){
	background-color: rgb(174, 205, 236);
}
.convenios-favorites-table tr:nth-child(even){
	background-color: rgb(186, 217, 245);

}
.convenios-likes-table tr:nth-child(even){
	background-color: rgb(207, 136, 203);
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 320px; 
    max-width: 660px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

@media (min-width: 1200px) {
	.inner-text{
		display: inline-block;
	}
}

@media (max-width: 1199px) {
	.convenios-btn i{
		font-size: 25px;
	}
	.inner-text{
		display: none;
	}
}

#area_select + .bootstrap-select > .dropdown-menu > .dropdown-menu > li > a{
	font-size: 14px !important;
}

@media all and (max-width:480px) {
	.btn-convenio { width: 100%; display:block;}
}

/* /convenios */

.header_logo {max-width: 207px !important;}

.font-version-sepanka {
  font-size: 0.65rem !important;
  text-align: left !important
}