.bolder{
    font-weight: 900 !important;
    text-shadow: 0px .1px, .1px 0px, .1px .1px;
}

.title_hr{
    background-color: black;
    color: black;
    margin-top: 0;
}

.big_hr{
    height: .25rem;
}

.small_hr{
    height: .15rem;
}

.blue_header{
    background-color: #244395;
    color: white;
}

#basic-addon1{
    border-radius: 0;
    background-color: rgb(237, 50, 55) !important;
    color: white !important;
}

.bg-clocklog-none{
    background-color: #6c757d!important;
    color: white!important;
}

.bg-clocklog-no_require_check{
    background-color: rgb(216, 217, 218) !important;
}

.bg-clocklog-in_on-time, .bg-clocklog-in_early{
    background-color: #28a745!important;
    color: white!important;
}

.bg-clocklog-in_tolerance{
    background-color: #ffc107!important;
    color: white!important;
}

.bg-clocklog-in_late{
    background-color: #dc3545!important;
    color: white!important;
}

.bg-clocklog-out_on-time, .bg-clocklog-out_ok{
    background-color: #28a745!important;
    color: white!important;
}

.bg-clocklog-out_early{
    background-color: #dc3545!important;
    color: white!important;
}

.dt_group{
    background-color: gainsboro;
}

.vac-bg-event{
    background-color: #7A75B5 !important;
    color: white;
}
.fc-header-toolbar > .fc-left:first-letter{
    text-transform: capitalize;
}

.fc-content{
    text-align: center;
}

.vac-bg-text{
    padding-left: 10px;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.vac-bg-status-pending{
    background-color: #F7C00D !important;
    color: white;
}
.vac-bg-status-canceled{
    background-color: #3E4B54 !important;
    color: white;
}
.vac-bg-status-accepted{
    background-color: #00A156 !important;
    color: white;
}
.vac-bg-status-complete{
    background-color: #00A156 !important;
    color: white;
}

.vac-bg-status-processed{
    background-color: #0098DA !important;
    color: white;
}
.vac-bg-status-rejected{
    background-color: #C22B30 !important;
    color: white;
}

.vac-tr-boder{
    border-top: 2px solid #244395;
}

.fa-bg-info{
    color: #3f54cc;
    font-size: x-large;
}

.fa-bg-info:hover{
    color: #6474cc;
}

#weekCalendar .fc-sun{
    background-color: #C9DBE5;
}
#weekCalendar .fc-sat{
    background-color: #C9DBE5;
}

#weekCalendar .rest-day{
    background-color: #FCD3C2;
}

#weekCalendar tbody .rest-day{
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    color: #EDAE93;;
}

#weekCalendar .extra-work-day{
    background-color: #EFF7F0;
}

#weekCalendar tbody .extra-work-day{
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    color: #c7deca;
}

#weekCalendar .fc-highlight{
    background-color: transparent !important;
}

#weekCalendar .fc-body{
    max-height: 300px !important;
}
