// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Selectpicker
@import '~bootstrap-select/sass/variables.scss';
@import '~bootstrap-select/sass/bootstrap-select.scss';

// DataTables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import '~datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css';
@import '~datatables.net-fixedcolumns-bs4/css/fixedColumns.bootstrap4.min.css';
@import '~datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css';

// FontAwesome
// @import "~font-awesome/scss/font-awesome.scss";
$fa-font-path: "../webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

//Animate.css
@import '~animate.css/animate.min.css';

.navbar-laravel {
  background-color: #244395;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.text-blue{
  color: #244395;
}

.bg-blue{
  background-color: #244395;
}

.border-blue{
  border:3px solid #244395;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
}

.requerido:after {
  content: '*';
  color: red;
  padding-left: 5px;
}

.DTFC_LeftBodyLiner, .DTFC_RightBodyLiner {
  overflow-x: hidden;
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

footer{
  background-image: url("/img/footer.png");
  /* The image used */
  background-color: #33333300;
  /* Used if the image is unavailable */
  background-position: center;
  /*Center the image */
  height: 10%;
  /* You must set a specified height */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  //padding-top: 3%;
}

.right-menu-element{
  color:#7094f8;
  transition: .2s ease;
  padding: 10px;
}
.right-menu-element:hover{
  color:#244395;
}
.right-menu{
  color:#244395;
  background-color: #8d8d8d7c;
  border-radius: 3px;
  padding: 10px;
}